<header>
  <div class="row alert-dark p-3 text-center">
    <h4 class="col-9">
      <a routerLink="">
        {{ titulo }}
      </a>
    </h4>

    <div class="col-3">
      <img
        src="./assets/ESCUDO-CID1.jpg"
        class=""
        alt=""
        style="width: 60px"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-8 p-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="ficha/buscador">Buscador</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="ficha/formulario">Proponer Ficha</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="personas">Inventario</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Catalogo Documentos</a>
        </li>

        <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
          >Acerca de</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="acerca/info">Info</a>
          <a class="dropdown-item" routerLink="acerca/contacto">Contacto</a>
        </div>
      </li> -->
      </ul>
    </div>
  </div>
</header>
