body{
background-color: transparent;
display:inline-block;
}

img{
    border:gray;
    border-radius: 1px;
    border-style: solid;
    box-shadow: 10px 10px 25px #999;
}

#cuadroCroquis, #cuadroFotografiasSecundarias, #cuadroFotografiaPrincipal{
    font-weight:bolder;
}

.modal-content{
    background-image: url(../../../assets/fondoCammo.png);
}

.modal-dialog{
    justify-content: center; 
    display: flex;
}
.imagenModal{
    justify-content: center; 
    display: flex;
    width: 100%;
}

.bucleFotografias{
    display:inline-flex;
}
.imagenSecundaria, .imagenCroquis{
    width: 180px;
}
.imagenPrincipal{
    width: 100%;
}