<body>
 
    <div id="cargarImagen" style="height: 500px;">
        <div>
            <h4>Imagen principal</h4>
            <form action="" id="uploader" class="my-2">
                <input type="file" id="file" (change)="seleccionarImagenes($event, 'principal')">
            </form>
        </div>
        <div class="container-fluid" id="fotoPrincipal">
            <div *ngFor="let fotografia of fotografiaPrincipal" class="col-2 mx-1 my-1" style="display: inline;">
                <app-fotografia [fotografia]=fotografia [id]=id (deleteImageEvent)="deseleccionarImagen($event)"></app-fotografia>
            </div>
        </div>
        <hr>
        <div>
            <h4>Imagenes</h4>
            <form action="" id="uploader" class="my-2">
                <input type="file" multiple="true" name="archivos[]" id="file"
                    (change)="seleccionarImagenes($event, 'secundaria')">
            </form>
        </div>
        <div class="container-fluid" id="fotosSecundarias">
            <div *ngFor="let fotografia of previewSecundarias" class="col-2 mx-1 my-1" style="display: inline;">
                <app-fotografia [fotografia]=fotografia [id]=id (deleteImageEvent)="deseleccionarImagen($event)"></app-fotografia>
            </div>
        </div>
        <hr>
        <div>
            <h4>Croquis</h4>
            <form action="" id="uploader" class="my-2">
                <input type="file" multiple="true" name="archivos[]" id="file"
                    (change)="seleccionarImagenes($event, 'croquis')">
            </form>
        </div>
        <div class="container-fluid" id="fotosCroquis">
            <div *ngFor="let fotografia of previewCroquis" class="col-2 mx-1 my-1" style="display: inline;">
                <app-fotografia [fotografia]=fotografia [id]=id (deleteImageEvent)="deseleccionarImagen($event)"></app-fotografia>
            </div>
        </div>
    </div>
</body>
<div class="d-flex justify-content-center">
    <button class="btn btn-primary" (click)="subirImagenes()">ENVIAR</button>
</div>