<body>
    <div id="cargarImagen" style="height: 500px;">
        <br>
        <h4>Subir una imagen a Firebase</h4>
        <form action="" id="uploader" class="my-2">
            <input type="file" id="file" (change)= "selectImage($event)">
        </form>  
        <img id="preview" src="" style="width: 250px;">
        <br>
        <br>
    </div>
    <hr>
    <h4>Imagenes subidas a Firebase</h4>
    <div id="fotos" class="container-fluid my-2">
        <div *ngFor="let fotografia of fotografias">
            <img src=fotografia alt="">
        </div>
    </div>
    <br>
</body>

  